* {
	font-family: 'Mountains of Christmas', cursive;

	font-size: 1.2em;
}
body {
	max-width: 1920px;
	margin:0 auto;
	background-color: #000854;
	color:white;
	overflow: hidden;
}
#snow{
	background: none;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
#one {
	position: relative;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
	max-width: 635px;
	width: 100%;
}

/*#moon {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #F2DC9B;
  box-shadow: 0px 0px 25px -2px #C3B78;
  -webkit-box-shadow: 0px 0px 25px -2px #FFFB00;
  -moz-box-shadow: 0px 0px 25px -2px #FFFB00;
  -ms-box-shadow: 0px 0px 25px -2px #FFFB00;
  margin-left: 100px;
  margin-top: 100px;
}*/


.ground{
  background:#FFF;
  height:8%;
  max-width: 1920px;
  width:100%;
  position:absolute;
  bottom:0px;
  z-index:1;
  border-radius:100% 100% 0 0;
  font-size:10px;
  display:block;
}

#wire {
  text-align: center;
  white-space: nowrap;
  position: relative;
  padding: 0;
  max-width: 1920px;
  width: 100%;
  border-bottom: 3px solid #222;
  height: 10px;
}

#wire li {
  position: relative;
  list-style: none;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  background-color: #fff;
  /* animation stuff here */
  animation-name: even-flash;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#wire li:nth-child(odd) {
  animation-name: odd-flash;
}

#wire li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  border-radius: 4px;
  top: -5px;
  left: 0;
  background: #444;
}

@keyframes even-flash {
  0%, 100% {
    background: rgba(255, 230, 65, 1);
    box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
  }
  50% {
    background: rgba(255, 230, 65, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
  }
}

@keyframes odd-flash {
  50% {
    background: rgba(235,50,50,1);
    box-shadow: 0px 2px 20px 4px rgba(235,50,50,1);
  }
  0%, 100% {
    background: rgba(153,33,20,0.5);
    box-shadow: 0px 2px 20px 4px rgba(235,50,50,0.3);
  }
}
#countdown {
  text-align: center;
  color: white;
}
#clock {
	display: flex;
	width: 100%;
	max-width: 300px;
	margin:0 auto;
	margin-top: 8%;
	height: 300px;
	align-items: center;
	justify-content: center;
	background-color: #CC231E;
	position: relative;
	flex-direction: column;
	border-radius: 100%;
}
#clock h1 {
	position: absolute;
}
#clock p {
	display: block;
	text-align: center;
	font-size: 1.4em;
}

.explosion {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
}
.explosion div {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: crimson;
  border-radius: 500px;
  animation-fill-mode: forwards;
  transform-origin: left center;
  animation-duration: .5s;
}
.explosion div:nth-child(1) {
  animation-name: explode1;
  transform: rotate(0) translate(0,0);
}
.explosion div:nth-child(2) {
  animation-name: explode2;
  transform: rotate(45deg) translate(0,0);
}
.explosion div:nth-child(3) {
  animation-name: explode3;
  transform: rotate(90deg) translate(0,0);
}
.explosion div:nth-child(4) {
  animation-name: explode4;
  transform: rotate(135deg) translate(0,0);
}
.explosion div:nth-child(5) {
  animation-name: explode5;
  transform: rotate(180deg) translate(0,0);
}
.explosion div:nth-child(6) {
  animation-name: explode6;
  transform: rotate(225deg) translate(0,0);
}
.explosion div:nth-child(7) {
  animation-name: explode7;
  transform: rotate(270deg) translate(0,0);
}
.explosion div:nth-child(8) {
  animation-name: explode8;
  transform: rotate(315deg) translate(0,0);
}
@keyframes explode1 {
  0 {
    width: 100%;
    transform: rotate(0) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(0) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(0) translate(300%,0);
  }
}
@keyframes explode2 {
  0 {
    width: 100%;
    transform: rotate(45deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(45deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(45deg) translate(300%,0);
  }
}
@keyframes explode3 {
  0 {
    width: 100%;
    transform: rotate(90deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(90deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(90deg) translate(300%,0);
  }
}
@keyframes explode4 {
  0 {
    width: 100%;
    transform: rotate(135deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(135deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(135deg) translate(300%,0);
  }
}
@keyframes explode5 {
  0 {
    width: 100%;
    transform: rotate(180deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(180deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(180deg) translate(300%,0);
  }
}
@keyframes explode6 {
  0 {
    width: 100%;
    transform: rotate(225deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(225deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(225deg) translate(300%,0);
  }
}
@keyframes explode7 {
  0 {
    width: 100%;
    transform: rotate(270deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(270deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(270deg) translate(300%,0);
  }
}
@keyframes explode8 {
  0 {
    width: 100%;
    transform: rotate(315deg) translate(0,0);
  }
  50% {
    width: 400%;
    transform: rotate(315deg) translate(0,0);
  }
  100% {
    width: 100%;
    transform: rotate(315deg) translate(300%,0);
  }
}